.b-section {
    min-height: 80vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.budget-title {
    font-size: 2rem;
    text-align: center;
}

.budget-subtitle {
    margin-bottom: 20px;
    font-size: 1rem;
    text-align: center;
}

.budget-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-height: 15vh;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}