.footer-container {
    display: flex;
    justify-content: center;
    background-color: #f0f2f5;
    height: 10vh;
}

.footer-container a {

    color: rgb(82, 82, 82);
    padding: 15px;
    text-decoration: none;
}
